<div id="dcMain">
	<script>
		$(function(){
			$("#fenlei").change(function(){
				var zhi=$(this).val();
				var name=$("#name").val();
				if(name==''){
					alert('请填写主题名称');
					return false;
				}
				var url='?catid='+zhi+'&name='+name;
				window.location.href =url;
			})
		})
	</script>
	<div id="urHere">
		后台管理中心<b>></b><strong>主题管理</strong>
	</div>
	<div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    	<h3>
    		<a href="{:url('theme/index')}" class="actionBtn">主题列表</a>
    		<a href="{:url('theme/add')}" class="actionBtn add">增加主题</a>
    		<a href="{:url('theme/add')}" class="actionBtn add">主题添加产品</a>
    		增加主题
    	</h3>
    	<form action="" enctype="multipart/form-data" method="post">
	    	<table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
				<tr>
					<td width="140">主题名称：<span class="red">*</span></td>
					<td><input type="text" class="inpMain" size="100" name="name"  > </td>
				</tr>
				<tr>
					<td width="140">主题描述：<span class="red">*</span></td>
					<td><input type="text" class="inpMain" size="100" name="desc"  > </td>
				</tr>
				<tr>
					<td width="140">主题图片：<span class="red">*</span></td>
					<td>
						<input name="topic_pic" type="file"  />
					</td>
				</tr>
				<tr>
					<td width="140">头部图片：<span class="red">*</span></td>
					<td>
						<input name="head_pic" type="file"  />
					</td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="提交" class="btn"></td>
				</tr>
	    	</table>
    	</form>
    </div>
</div>