<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>产品中心|東莞市星坤電子有限公司</title>
<meta name="keywords" content="轻触开关,插脚轻触开关,微型拨动开关,震动开关,贴片拨码开关,微动开关,鼠标微动开关,防水轻触开关,防水微动开关,轻触按键开关,轻触开关厂家,东莞按键开关,船型开关,多功能带灯生产厂家" />
<meta name="description" content="东莞轻触开关,贴片轻触开关,插脚轻触开关,微型拨动开关,震动开关,贴片拨码开关,微动开关,防水轻触开关,防水微动开关,轻触按键开关,船型开关厂家,五向开关,多功能轻触开关生产厂家,耳机插座,DC电源插座,连接器--星坤电子全球零组件制造商！" />
<LINK href="http://www.xk-dg.cn/skin/css/base.css" rel=stylesheet>
<LINK href="http://www.xk-dg.cn/skin/css/style.css" rel=stylesheet>
<LINK href="http://www.xk-dg.cn/skin/css/style3.css" rel=stylesheet>
<LINK href="http://www.xk-dg.cn/skin/css/jbox.css" rel=stylesheet>
<LINK href="http://www.xk-dg.cn/skin/css/chanpin.css" rel=stylesheet>
<link href="http://www.xk-dg.cn/skin/css/main.css" type="text/css" rel="stylesheet">
<LINK href="http://www.xk-dg.cn/skin/css/xiangxi.css" rel=stylesheet>
<link href="http://www.xk-dg.cn/skin/css/fashionfoucs_lrtk.css" rel="stylesheet" />
<link rel="stylesheet" href="http://www.xk-dg.cn/skin/css/MagicZoom.css" type="text/css" />
<script src="http://www.xk-dg.cn/skin/js/MagicZoom.js" type="text/javascript"></script>
<script type="text/javascript" src="http://www.xk-dg.cn/skin/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="http://www.xk-dg.cn/skin/js/main.js"></script>
<script src="http://www.xk-dg.cn/skin/js/jquery.min.js" type="text/javascript"></script>
<script language="JavaScript" type="text/javascript" src="http://www.xk-dg.cn/skin/js/jquery-1.7.2.min.js"></script>
<script language="JavaScript" type="text/javascript" src="http://www.xk-dg.cn/skin/js/nf_jquery-1.js"></script>
<script language="JavaScript" type="text/javascript" src="http://www.xk-dg.cn/skin/js/nf_home.js"></script>
<script language="JavaScript" type="text/javascript" src="http://www.xk-dg.cn/skin/js/liscroll.js"></script>
<script language="JavaScript" type="text/javascript" src="http://www.xk-dg.cn/skin/js/functions.js"></script>
<script language="JavaScript" type="text/javascript" src="http://www.xk-dg.cn/skin/js/jquery.jbox-2.3.min.js"></script>
<script language="JavaScript" type="text/javascript" src="http://www.xk-dg.cn/skin/js/jquery-1.9.1.min.js"></script>
<script language="JavaScript" type="text/javascript" src="http://www.xk-dg.cn/skin/js/jquery.plugin.min.js"></script>
</head>
<body>
<script>
$(function(){   
  $(window).scroll(function() {
    if($(window).scrollTop()>=10){
        $("#headbj").addClass("fixednav");
    }else{
        $("#headbj").removeClass("fixednav");
    } 
  });
  $(".search-option").change(function(){
      $("#submit").click();
  })
});
</script>
<div  id="headbj">
<div class="headdh">
<div class="headdhnr">
<div class="headdhnrz"><a href="http://www.xk-dg.cn/cy/xmjs/" target="_blank" title="星坤电子">创业计划</a>
<a href="javascript:AddFavorite('http://www.xk-dg.cn', '星坤电子')">收藏本站</a>
<script language="javascript"> 
function AddFavorite(title, url) {

try {

window.external.addFavorite(url, title);

}

catch (e) {

try {

window.sidebar.addPanel(title, url, "");

}

catch (e) {

alert("抱歉，您所使用的浏览器无法完成此操作。\n\n加入收藏失败，请使用Ctrl+D进行添加");

}

}

}
</script>

</div>
<div class="headdhnry">
<div class="syboz">
<a href="http://www.xk-dg.cn/">首页</a>
<a href="http://1.xk-dg.cn/"  target="_blank" >English</a>
<a href="javascript:showDivFun(0)"  target="_blank" >日語</a>
<a href="javascript:showDivFun(0)"  target="_blank" >한국어</a></div>

<div class="sybox"><a href="http://www.xk-dg.cn/data/sitemap.html"  target="_blank" >网站导航</a>

<div class="sydhbox">
<div class="sylinkbox">
<h3><a href='http://www.xk-dg.cn/stark/'>关于星坤</a></h3>	<ul class="f6">	

		<li><a href='http://www.xk-dg.cn/stark'>星坤简介</a></li>
		<li><a href='http://www.xk-dg.cn/stark/fzlc/'>发展历程</a></li>
		<li><a href='http://www.xk-dg.cn/stark/wh/'>企业文化</a></li>
		<li><a href='http://www.xk-dg.cn/stark/ln/'>经营理念</a></li>
		<li><a href='http://www.xk-dg.cn/stark/ry/'>资质荣誉</a></li>
		<li><a href='http://www.xk-dg.cn/stark/bmzs/'>组织及部门执事</a></li>
			
</ul></div>
<div class="sylinkbox">
<h3><a href='http://www.xk-dg.cn/stark/new/'>新闻资讯</a></h3><ul class="f6">		
		
<li><a href='http://www.xk-dg.cn/stark/hy/'>行业资讯</a></li>
		<li><a href='http://www.xk-dg.cn/stark/gs/'>公司新闻</a></li>
		<li><a href='http://www.xk-dg.cn/stark/zx/'>最新新闻</a></li>
		<li><a href='http://www.xk-dg.cn/stark/zp/'>招聘信息</a></li>
			
</ul></div>

<div class="sylinkbox">
<h3><a href='http://www.xk-dg.cn/stark/cp/'>产品中心</a></h3><ul class="f6">
		<li><a href='http://www.xk-dg.cn/stark/qckg/'>轻触开关</a></li>
		<li><a href='http://www.xk-dg.cn/stark/zjkg/'>按键开关</a></li>
		<li><a href='http://www.xk-dg.cn/stark/bdkg/'>拨动开关</a></li>
		<li><a href='http://www.xk-dg.cn/stark/bmkg/'>拨码开关</a></li>
		<li><a href='http://www.xk-dg.cn/stark/wdkg/'>微动开关</a></li>
		<li><a href='http://www.xk-dg.cn/stark/zdkg/'>震动开关</a></li>
		<li><a href='http://www.xk-dg.cn/stark/cxkg/'>船型开关</a></li>
		<li><a href='http://www.xk-dg.cn/stark/dgnkg/'>带灯开关</a></li>
		<li><a href='http://www.xk-dg.cn/stark/25cz/'>2.5耳机插座</a></li>
		<li><a href='http://www.xk-dg.cn/stark/35cz/'>3.5耳机插座</a></li>
		<li><a href='http://www.xk-dg.cn/stark/65cz/'>6.5耳机插座</a></li>
		<li><a href='http://www.xk-dg.cn/stark/dccz/'>DC电源插座</a></li>
		<li><a href='http://www.xk-dg.cn/stark/avcz/'>AV同芯插座</a></li>
		<li><a href='http://www.xk-dg.cn/stark/xlcz/'>XLR卡侬座</a></li>
		<li><a href='http://www.xk-dg.cn/stark/uslj/'>USB连接器</a></li>
		<li><a href='http://www.xk-dg.cn/stark/txlj/'>条形连接器</a></li>
		<li><a href='http://www.xk-dg.cn/stark/qtlj/'>其他精密组件</a></li>
			
</ul></div>

<div class="sylinkbox">
<h3><a href='http://www.xk-dg.cn/stark/ly/'>应用领域</a></h3><ul class="f6">		
		
<li><a href='http://www.xk-dg.cn/stark/ly'>应用案例</a></li>
		<li><a href='http://www.xk-dg.cn/stark/fwkh/'>服务客户</a></li>
			
</ul></div>

<div class="sylinkbox">
<h3><a href='http://www.xk-dg.cn/stark/js/'>核心竞争力</a></h3><ul class="f6">
		<li><a href='http://www.xk-dg.cn/stark/js'>生产介绍</a></li>
		<li><a href='http://www.xk-dg.cn/stark/zlxz/'>资料下载</a></li>
		<li><a href='http://www.xk-dg.cn/stark/js/yfnl/'>研发能力</a></li>
		<li><a href='http://www.xk-dg.cn/stark/js/pbnl/'>品保能力</a></li>
		<li><a href='http://www.xk-dg.cn/stark/js/zznl/'>制造能力</a></li>
		<li><a href='http://www.xk-dg.cn/stark/js/gylgl/'>供应链管理</a></li>
		<li><a href='http://www.xk-dg.cn/stark/whwzgl/'>危害物质管理</a></li>
			
</ul></div>

<div class="sylinkbox">
<h3><a href='http://www.xk-dg.cn/stark/qyshzr/'>社会责任</a></h3><ul class="f6">
		<li><a href='http://www.xk-dg.cn/stark/qyshzr'>员工关怀</a></li>
		<li><a href='http://www.xk-dg.cn/stark/qyshzr/lshb/'>绿色环保</a></li>
		<li><a href='http://www.xk-dg.cn/stark/qyshzr/zcygm/'>政策与构面</a></li>
		<li><a href='http://www.xk-dg.cn/stark/qyshzr/hjaqws/'>环境安全卫生</a></li>
			
</ul></div>

<div class="sylinkbox">
<h3><a href='http://www.xk-dg.cn/stark/lx/'>联系我们</a></h3><ul class="f6">		
		
<li><a href='http://www.xk-dg.cn/stark/dhdt/'>导航地图</a></li>
		<li><a href='http://www.xk-dg.cn/stark/qqhfb/'>全球化分布</a></li>
		<li><a href='http://www.xk-dg.cn/stark/gszh/'>公司账户</a></li>
			
</ul></div>
</div>

</div>
</div>


<div id="popDiv" class="mydiv" style="display:none;">
<div class="sytanchuang" onclick="closeDivFun(0)">关闭</div>
<div class="sychuang" <a>對不起！您所在的區域不支持該版本，請瀏覽其它版本！(Sorry! Your region does not support this version, please browse other version!)</a></div>
</div>
<script>
//弹出调用的方法
function showDivFun(){
    document.getElementById('popDiv').style.display='block';
}
//关闭事件
function closeDivFun(){
    document.getElementById('popDiv').style.display='none';
}
 
</script>
</div></div>
<div class="headbj" >
  <div class="head_mid">
    <div class="logo"><a href="http://www.xk-dg.cn/"  target="_blank" title=""><img src="__ASSETS__/skin/images/logo.png" width="190px" alt="【XKB星坤企业】官网：轻触开关,插脚轻触开关,拨动开关,震动开关,贴片拨码开关,微动开关,防水轻触开关,防水微动开关,轻触按键开关,轻触开关厂家,耳机插座,DC电源插座,连接器-【XKB星坤企业】全球零组件制造商！"/></a></div>
    <div class="menu"><div class="tel">

   
 <div class="tel1">  </div>
 <div class="tel2">

 <div class="search" >
      <form  name="formsearch" action="/plus/search.php">
        <div class="form">
           <input type="hidden" name="kwtype" value="0" />
           <input name="q" type="text" class="search-keyword" id="search-keyword" value="在这里搜索..." onfocus="if(this.value=='在这里搜索...'){this.value='';}"  onblur="if(this.value==''){this.value='在这里搜索...';}" />
          <button type="submit" class="search-submit">搜索</button>
        </div>
        </form>

    </div>


</div>               



      </div>


     </div>
  </div>

<div class="nav123">
<div class="page_header">
          <div id="mainnavbox">
            <ul id="mainnav" name="mainnav">
              <li class="menu2" onmouseover="this.className='menu1'" onmouseout="this.className='menu2'"> <span> <a class="" href="http://www.xk-dg.cn/stark/"  target="_blank" title="关于星坤">关于星坤</a></span>
                <div class="list">
                  <div class="listt">  <a href="http://www.xk-dg.cn/stark/gssp/"  target="_blank" title="企业视频">企业视频</a>  <a href="http://www.xk-dg.cn/stark"  target="_blank" title="星坤简介">星坤简介</a>  <a href="http://www.xk-dg.cn/stark/fzlc/"  target="_blank" title="发展历程">发展历程</a>  <a href="http://www.xk-dg.cn/stark/wh/"  target="_blank" title="企业文化">企业文化</a>  <a href="http://www.xk-dg.cn/stark/ln/"  target="_blank" title="经营理念">经营理念</a>  <a href="http://www.xk-dg.cn/stark/ry/"  target="_blank" title="资质荣誉">资质荣誉</a>  <a href="http://www.xk-dg.cn/stark/bmzs/"  target="_blank" title="组织及部门执事">组织及部门执事</a>  
                  </div>
                </div>
              </li><li class="menu2" onmouseover="this.className='menu1'" onmouseout="this.className='menu2'"> <span> <a class="" href="http://www.xk-dg.cn/stark/new/"  target="_blank" title="新闻资讯">新闻资讯</a></span>
                <div class="list">
                  <div class="listt">  <a href="http://www.xk-dg.cn/stark/gs/"  target="_blank" title="公司新闻">公司新闻</a>  <a href="http://www.xk-dg.cn/stark/hy/"  target="_blank" title="行业资讯">行业资讯</a>  <a href="http://www.xk-dg.cn/stark/zx/"  target="_blank" title="最新新闻">最新新闻</a>  <a href="http://www.xk-dg.cn/stark/zp/"  target="_blank" title="招聘信息">招聘信息</a>  
                  </div>
                </div>
              </li><li class="menu2" onmouseover="this.className='menu1'" onmouseout="this.className='menu2'"> <span> <a class="" href="http://www.xk-dg.cn/stark/ly/"  target="_blank" title="应用领域">应用领域</a></span>
                <div class="list">
                  <div class="listt">  <a href="http://www.xk-dg.cn/stark/ly"  target="_blank" title="应用案例">应用案例</a>  <a href="http://www.xk-dg.cn/stark/fwkh/"  target="_blank" title="服务客户">服务客户</a>  
                  </div>
                </div>
              </li><li class="menu2" onmouseover="this.className='menu1'" onmouseout="this.className='menu2'"> <span> <a class="" href="http://www.xk-dg.cn/stark/js/"  target="_blank" title="核心竞争力">核心竞争力</a></span>
                <div class="list">
                  <div class="listt">  <a href="http://www.xk-dg.cn/stark/js"  target="_blank" title="生产介绍">生产介绍</a>  <a href="http://www.xk-dg.cn/stark/zlxz/"  target="_blank" title="资料下载">资料下载</a>  <a href="http://www.xk-dg.cn/stark/js/yfnl/"  target="_blank" title="研发能力">研发能力</a>  <a href="http://www.xk-dg.cn/stark/js/pbnl/"  target="_blank" title="品保能力">品保能力</a>  <a href="http://www.xk-dg.cn/stark/js/zznl/"  target="_blank" title="制造能力">制造能力</a>  <a href="http://www.xk-dg.cn/stark/js/gylgl/"  target="_blank" title="供应链管理">供应链管理</a>  <a href="http://www.xk-dg.cn/stark/whwzgl/"  target="_blank" title="危害物质管理">危害物质管理</a>  
                  </div>
                </div>
              </li><li class="menu2" onmouseover="this.className='menu1'" onmouseout="this.className='menu2'"> <span> <a class="" href="http://www.xk-dg.cn/stark/qyshzr/"  target="_blank" title="社会责任">社会责任</a></span>
                <div class="list">
                  <div class="listt">  <a href="http://www.xk-dg.cn/stark/qyshzr"  target="_blank" title="员工关怀">员工关怀</a>  <a href="http://www.xk-dg.cn/stark/qyshzr/lshb/"  target="_blank" title="绿色环保">绿色环保</a>  <a href="http://www.xk-dg.cn/stark/qyshzr/zcygm/"  target="_blank" title="政策与构面">政策与构面</a>  <a href="http://www.xk-dg.cn/stark/qyshzr/hjaqws/"  target="_blank" title="环境安全卫生">环境安全卫生</a>  
                  </div>
                </div>
              </li><li class="menu2" onmouseover="this.className='menu1'" onmouseout="this.className='menu2'"> <span> <a class="" href="http://www.xk-dg.cn/stark/lx/"  target="_blank" title="联系我们">联系我们</a></span>
                <div class="list">
                  <div class="listt">  <a href="http://www.xk-dg.cn/stark/dhdt/"  target="_blank" title="导航地图">导航地图</a>  <a href="http://www.xk-dg.cn/stark/qqhfb/"  target="_blank" title="全球化分布">全球化分布</a>  <a href="http://www.xk-dg.cn/stark/gszh/"  target="_blank" title="公司账户">公司账户</a>  
                  </div>
                </div>
              </li> 
            </ul> 
          </div>

			<div class="container page_header_box">
				<ul class="header_menu">
					<li class=""> <span><a href="http://www.xk-dg.cn/stark/cp/">产品中心</a></span></li>
					
				</ul>

			</div>
			<div class="header_submenu" style="height: 0px;">
				<div class="container">
					<table cellpadding="0" cellspacing="0" border="0" class="menu_product" id="submenu_0" style="left: -78px; display: none;">
						<tbody><tr>
							<td>
								<a href="http://www.xk-dg.cn/"><img src="__ASSETS__/skin/images/kaiguan11.gif"></a>
								<div class="menu_product_title"><a href="http://www.xk-dg.cn/stark/kg/">开关系列

</a></div>
								<ul class="submenu_product2">
									<li><a href="http://www.xk-dg.cn/stark/qckg/">轻触开关</a></li>
									<li><a href="http://www.xk-dg.cn/stark/zjkg/">按键开关</a></li>
									<li><a href="http://www.xk-dg.cn/stark/bdkg/">拨动开关</a></li>
									<li><a href="http://www.xk-dg.cn/stark/bmkg/">拨码开关</a></li>
									<li><a href="http://www.xk-dg.cn/stark/wdkg/">微动开关</a></li>
									<li><a href="http://www.xk-dg.cn/stark/zdkg/">震动开关</a></li>
									<li><a href="http://www.xk-dg.cn/stark/cxkg/">船型开关</a></li>
									<li><a href="http://www.xk-dg.cn/stark/dgnkg/">带灯开关</a></li>
								</ul>
							</td>
							<td>
								<a href="http://www.xk-dg.cn/"><img src="__ASSETS__/skin/images/erji11.gif"></a>
								<div class="menu_product_title"><a href="http://www.xk-dg.cn/stark/cz/">插座系列

</a></div>
								<ul class="submenu_product">
									<li><a href="http://www.xk-dg.cn/stark/25cz/">2.5耳机插座</a></li>
									<li><a href="http://www.xk-dg.cn/stark/35cz/">3.5耳机插座</a></li>
									<li><a href="http://www.xk-dg.cn/stark/65cz/">6.5耳机插座</a></li>
									<li><a href="http://www.xk-dg.cn/stark/dccz/">DC电源插座</a></li>
									<li><a href="http://www.xk-dg.cn/stark/avcz/">AV同芯插座</a></li>
									<li><a href="http://www.xk-dg.cn/stark/xlcz/">XLR卡侬座</a></li>
								</ul>
							</td>
							<td>
								<a href="http://www.xk-dg.cn/"><img src="__ASSETS__/skin/images/ljq11.gif"></a>
								<div class="menu_product_title"><a href="http://www.xk-dg.cn/stark/lj/">连接器系列

</a></div>
								<ul class="submenu_product">
									<li><a href="http://www.xk-dg.cn/stark/uslj/">USB连接器</a></li>
									<li><a href="http://www.xk-dg.cn/stark/txlj/">条形连接器</a></li>
									<li><a href="http://www.xk-dg.cn/stark/qtlj/">其他连接器</a></li>
								</ul>
							</td>
							<td>
								<a href="http://www.xk-dg.cn/"><img src="__ASSETS__/skin/images/jp11.gif"></a>
								<div class="menu_product_title"><a href="http://s.gedaocao.com/">机械键盘系列

</a></div>
								<ul class="submenu_product">
									<li><a href="http://s.gedaocao.com/category.php?id=369">奢华金机械键盘</a></li>
									<li><a href="http://s.gedaocao.com/category.php?id=370">珠光银机械键盘</a></li>
									
								</ul>
							</td>
						</tr>
					</tbody>
                                       </table>
				</div>
			</div>
</div>

        </div>
</div>
</div>
<div class="nybanner" style="background:url(__ASSETS__/skin/images/chanpin.jpg) no-repeat top center"></div>
{__CONTENT__}
<div class="foot">
  <div class="foot_cio"><a href="javascript:scroll(0,0)"   target="_blank" title="返回"><img src="__ASSETS__/skin/images/topfh.png" width="59" height="59" alt="返回" /></a></div>
  <div class="foot_mid">
    <div class="claft">
      <ul>
        <li>
          <h4><a href="http://www.xk-dg.cn/stark/"  target="_blank" title="关于星坤">关于星坤</a></h4>
          <p>  <a href="http://www.xk-dg.cn/stark/gssp/"  target="_blank" title="企业视频">企业视频</a><br />
             <a href="http://www.xk-dg.cn/stark"  target="_blank" title="星坤简介">星坤简介</a><br />
             <a href="http://www.xk-dg.cn/stark/fzlc/"  target="_blank" title="发展历程">发展历程</a><br />
             <a href="http://www.xk-dg.cn/stark/wh/"  target="_blank" title="企业文化">企业文化</a><br />
             <a href="http://www.xk-dg.cn/stark/ln/"  target="_blank" title="经营理念">经营理念</a><br />
             <a href="http://www.xk-dg.cn/stark/ry/"  target="_blank" title="资质荣誉">资质荣誉</a><br />
             <a href="http://www.xk-dg.cn/stark/bmzs/"  target="_blank" title="组织及部门执事">组织及部门执事</a><br />
             </p>
        </li><li>
          <h4><a href="http://www.xk-dg.cn/stark/new/"  target="_blank" title="新闻资讯">新闻资讯</a></h4>
          <p>  <a href="http://www.xk-dg.cn/stark/gs/"  target="_blank" title="公司新闻">公司新闻</a><br />
             <a href="http://www.xk-dg.cn/stark/hy/"  target="_blank" title="行业资讯">行业资讯</a><br />
             <a href="http://www.xk-dg.cn/stark/zx/"  target="_blank" title="最新新闻">最新新闻</a><br />
             <a href="http://www.xk-dg.cn/stark/zp/"  target="_blank" title="招聘信息">招聘信息</a><br />
             </p>
        </li>
        <li>
          <h4><a href="http://www.xk-dg.cn/stark/lx/"  target="_blank" title="产品中心">联系星坤</a></h4>
          <p> <a href="http://www.xk-dg.cn/stark/lx/"  target="_blank" title="联系我们">联系我们</a><br/>
            <a href="http://www.xk-dg.cn/stark/qqhfb/"  target="_blank" title="全球化分布">全球化分布</a><br/>
            <a href="http://www.xk-dg.cn/stark/dhdt/"  target="_blank" title="诚聘英才">导航地图</a><br/>
          </p>
        </li><li>
          <h4><a href="http://www.xk-dg.cn/stark/lj/"  target="_blank" title="连接器">连接器     </a></h4>
          <p>  <a href="http://www.xk-dg.cn/stark/uslj/"  target="_blank" title="USB连接器">        USB连接器</a><br />
             <a href="http://www.xk-dg.cn/stark/txlj/"  target="_blank" title="条形连接器">        条形连接器</a><br />
             <a href="http://www.xk-dg.cn/stark/qtlj/"  target="_blank" title="其他精密组件">        其他精密组件</a><br />
             </p>
        </li>        
   <li>
          <h4><a href="http://www.xk-dg.cn/stark/cz/"  target="_blank" title="插座">插座     </a></h4>
          <p>  <a href="http://www.xk-dg.cn/stark/25cz/"  target="_blank" title="2.5耳机插座">        2.5耳机插座</a><br />
             <a href="http://www.xk-dg.cn/stark/35cz/"  target="_blank" title="3.5耳机插座">        3.5耳机插座</a><br />
             <a href="http://www.xk-dg.cn/stark/65cz/"  target="_blank" title="6.5耳机插座">        6.5耳机插座</a><br />
             <a href="http://www.xk-dg.cn/stark/dccz/"  target="_blank" title="DC电源插座">        DC电源插座</a><br />
             <a href="http://www.xk-dg.cn/stark/avcz/"  target="_blank" title="AV同芯插座">        AV同芯插座</a><br />
             <a href="http://www.xk-dg.cn/stark/xlcz/"  target="_blank" title="XLR卡侬座">        XLR卡侬座</a><br />
             </p>
        </li><li>
          <h4><a href="http://www.xk-dg.cn/stark/kg/"  target="_blank" title="开关">开关     </a></h4>
          <p>  <a href="http://www.xk-dg.cn/stark/qckg/"  target="_blank" title="轻触开关">        轻触开关</a><br />
             <a href="http://www.xk-dg.cn/stark/zjkg/"  target="_blank" title="按键开关">        按键开关</a><br />
             <a href="http://www.xk-dg.cn/stark/bdkg/"  target="_blank" title="拨动开关">        拨动开关</a><br />
             <a href="http://www.xk-dg.cn/stark/bmkg/"  target="_blank" title="拨码开关">        拨码开关</a><br />
             <a href="http://www.xk-dg.cn/stark/wdkg/"  target="_blank" title="微动开关">        微动开关</a><br />
             <a href="http://www.xk-dg.cn/stark/zdkg/"  target="_blank" title="震动开关">        震动开关</a><br />
             <a href="http://www.xk-dg.cn/stark/cxkg/"  target="_blank" title="船型开关">        船型开关</a><br />
             </p>
        </li>
      </ul>
    </div>
    <div class="c"></div>
  </div>
  <div class="foot_nav">
    <div class="foot_nav_right"> <a > 地址：广东省东莞市塘厦镇138工业区宏业北二路3号   电话：0769-87920467  82611505</a></div>
    <div class="foot_nav_right"> <a > 邮箱： xk@xk-dg.cn   网站：http://www.xk-dg.cn</a>  </div>
    <div class="foot_nav_right"> <a href="http://www.miitbeian.gov.cn" rel="nofollow"  target="_blank" title="微动开关" target="_blank"> 版权所有：东莞市星坤电子有限公司&nbsp;&nbsp;&nbsp;粤ICP备12050029号-5</a>  </div>
    </div>
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>



 <div style="text-align: center;">
<a href="http://www.xk-dg.cn/"  target="_blank" rel=”nofollow” title="关于我们"><img src="__ASSETS__/skin/images/222.jpg"  alt="关于我们" /></a>
<a href="http://webscan.360.cn/index/checkwebsite/url/xk-dg.cn"><img border="0" src="http://img.webscan.360.cn/status/pai/hash/6dd3668d863a6047ac01b9902f4d348a"/></a> 
</div>  
<div>  
</div>  
  </div>  
<link href="http://www.xk-dg.cn/kefu/1/style.css" rel="stylesheet" type="text/css" />
<div id="kefu1">
	<div class="cs_close"><a href="javascript:;" onClick="$('#kefu1').fadeOut()"><span>关闭</span></a></div>
	<div class="cs_tel"></div>
	<div class="cs_tel_ct">
		<span class="cs_tel_num">400-888-7082</span>
		咨询时间：8:00-18:00<br />
		投诉咨询：xk@xk-dg.cn<br />
	</div>
	<div class="cs_spr"></div>
	<div class="cs_online"></div>
	<div class="cs_online_ct">
		<div class="cs_online_qq"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2850457332&site=qq&menu=yes/"><img border="0" src="http://wpa.qq.com/pa?p=2:123456789:52" alt="点击这里给我发消息" title="点击这里给我发消息" align="absmiddle" />星坤XKB销售代表</a></div>
		<div class="cs_online_qq"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2850457330&site=qq&menu=yes/"><img border="0" src="http://wpa.qq.com/pa?p=2:123456789:52" alt="点击这里给我发消息" title="点击这里给我发消息" align="absmiddle" />星坤XKB销售代表</a></div>
		<div class="cs_online_qq"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2850457329&site=qq&menu=yes/"><img border="0" src="http://wpa.qq.com/pa?p=2:123456789:52" alt="点击这里给我发消息" title="点击这里给我发消息" align="absmiddle" />星坤XKB销售代表</a></div>
                <div class="cs_online_qq"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2850457331&site=qq&menu=yes/"><img border="0" src="http://wpa.qq.com/pa?p=2:123456789:52" alt="点击这里给我发消息" title="点击这里给我发消息" align="absmiddle" />星坤XKB贸易课代表</a></div>



	</div>
	<div class="cs_qcode"><img src="__ASSETS__/skin/images/weixin_code.jpg" width="120" height="120" title="用手机微信扫一扫" /></div>
	<div class="cs_spr"></div>
</div>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?b4d7436a88e0a2efbc6678d7435bab7c";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript" src="//s.union.360.cn/91345.js"></script>
</body>
</html>