{layout name="layout"}
<div id="dcMain">
	<div id="urHere">
		后台管理中心<b>></b><strong>用户管理</strong>></b><strong>编辑用户信息</strong>
	</div>
	<div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    	<h3>
    		<a href="{:url('admin/member/index')}" class="actionBtn">用户列表</a>
    		<a href="{:url('admin/member/addUser')}" class="actionBtn add">添加用户</a>
    		编辑用户信息
    	</h3>
		<form action="" method="post">
	    	<table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
				<tr>
				 	<td width="120px">用户名&nbsp;<span class="red">*</span></td>
				 	<td><input type="hidden" name="username" value="{$info.username}">
						{$info.username}
				 	</td>
				</tr>
				<tr>
					<td>密码</td>
					<td><input type="password" size=60 class="inpMain" name="password" >
						&nbsp;如不修改则留空
					</td>
				</tr>
				<tr>
					<td>真实姓名</td>
					<td><input type="text" size=60 class="inpMain" name="truename" value="{$info.truename}"></td>
				</tr>
				<tr>
					<td>手机号</td>
					<td><input type="text" size=60 class="inpMain" name="mobile" value="{$info.mobile}"></td>
				</tr>
				<tr>
					<td>固定电话</td>
					<td><input type="text" size=60 class="inpMain" name="phone" value="{$info.phone}"></td>
				</tr>
				<tr>
					<td>邮箱</td>
					<td><input type="text" size=60 class="inpMain" name="email" value="{$info.email}"></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" class="btn" value="提交"></td>
				</tr>
	    	</table>
    	</form>
    </div>
</div>